.wrapper {
	max-width: 1200px;
    height: 100%;
}

.navbar .navbar-default {
    margin-bottom: 0px;
}

.head-title {
	font-size: 1em;
	text-decoration: none;
	color: gray;
	text-align: center;
	display: inline;
}

.flex-container {
	list-style-type: none;
    display: -webkit-flex;
    display: flex;
    bottom: 0px;
}

.flex-item {
    margin: 10px;
}


@media screen and (min-width: 999px){
	.wrapper {
		margin-right: auto;
		margin-left: auto;
	}

	.head-title{
		font-size: 4em;
	}
}