{% extends "header.html" %}

{% block content %}

    <form method="post" action="{{ url_for('addTreck') }}" enctype="multipart/form-data">
        <h1>Add a Treck</h1>
        <input type="text" name="name" placeholder="New Treck">
        <input type="text" name="place" id="place" value="" style="">
        <!-- <input type="text" name="fid" id="fid" value="" style=""> -->
        <!-- <select name="park_id">
            {% for park in parks %}
                <option value="{{ park.key().id() }}">{{ park.name }} - {{ park.type }}</option>
            {% endfor %}
        </select> -->
        <!-- <input type="textarea" name="description" placeholder="Description"> -->
        <input type="file" name="gpx" id="gpx" accept=".gpx">

        <input type='checkbox' name='activity' value='Hike'>Hike
        <input type='checkbox' name='activity' value='Bike'>Bike
        <input type='checkbox' name='activity' value='Camp'>Camp
        <input type='checkbox' name='activity' value='Pets'>Pets
        <input type='checkbox' name='activity' value='Climb'>Climb
        <input type='checkbox' name='activity' value='Backpack'>Backpack
        <input type='checkbox' name='activity' value='Offroad'>Offroad
        <input type='checkbox' name='activity' value='Scuba'>Scuba
        <input type='checkbox' name='activity' value='Canoe/Kayak'>Canoe/Kayak
        <input type='checkbox' name='activity' value='Sail'>Sail
        <br>

        <input type="submit" value="Add">
        <a href="{{ url_for('home') }}">Cancel</a>
    </form>

    <!-- Map -->
    <div class="section collapse in" id="map_container">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div class="canvas" id="map"></div>
    </div>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/addTreck.css">

    <!-- jQuery -->
    <script src="/static/masterslider/jquery.min.js"></script>
    <script src="/static/masterslider/jquery.easing.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.6/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.6/js/bootstrap.min.js"></script>

    <!-- JS -->
    <script src="/static/js/addTreck.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9HruWNEZUBfdIyuBEehLKI0whMeX_bAQ&libraries=places&callback=initAutocomplete"
         async defer></script>

{% endblock %}