{% extends "header.html" %}

{% block content %}

<h1>Build your loadout for {{ trail.name }}</h1>

<form>
    <h2>Apparel</h2>
    <input type='text' name='headwear' placeholder='Headwear'>
    <input type='text' name='top' placeholder='Top'>
    <input type='text' name='bottom' placeholder='bottom'>
    <input type='text' name='footwear' placeholder='Footwear'>

    <h2>Provisions</h2>
    <input type='text' name='water' placeholder='Water (L)'>
    <input type='text' name='food' placeholder='Food'>

    <h2>Gear</h2>
    <input type='text' name='gear' placeholder='Gear'>
    <input type='text' name='stuff' placeholder='Stuff'>

    <h2>Pack</h2>
    <input type='text' name='pack' placeholder='Pack Size (L)'>  

    <h2>Content</h2>
    <input type='text' name='photo' placeholder='Photo Url'>
    <input type='text' name='video' placeholder='Video Url'>  

    <br><br>

    <h2>Best Months</h2>
    <input type='checkbox' name='month' value='1'>January
    <input type='checkbox' name='month' value='2'>February
    <input type='checkbox' name='month' value='3'>March
    <input type='checkbox' name='month' value='4'>April
    <input type='checkbox' name='month' value='5'>May
    <input type='checkbox' name='month' value='6'>June
    <input type='checkbox' name='month' value='7'>July
    <input type='checkbox' name='month' value='8'>August
    <input type='checkbox' name='month' value='9'>September
    <input type='checkbox' name='month' value='10'>October
    <input type='checkbox' name='month' value='11'>Novemeber
    <input type='checkbox' name='month' value='12'>December

    <br><br>

    <h2>Highlights</h2>
    <input type='text' name='highlights' placeholder='The Good Stuff'>
    <h2>Warnings</h2>
    <input type='text' name='warnings' placeholder='The Bad Stuff'>

    <br><br>

    <input type='submit' value='Submit'>
</form>

{% endblock %}