<!DOCTYPE html>
<html>
<head>

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-74734026-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->


    <title>Chisel Outdoors, the ultimate outdoor recreation site.</title>
    <!-- Description -->
    <meta name="description" content="Helping you plan to go there, wherever there is.">
    <!-- Tab Img -->
    <link rel="shortcut icon" type="image/png" href="/static/imgs/cairn_grey.png"/>

    <!-- Responsive -->
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <!-- BS CSS -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.6/css/bootstrap.css">

    <!-- Base MasterSlider CSS -->
    <link rel="stylesheet" href="/static/masterslider/style/masterslider.css">
 
    <!-- MasterSlider default skin -->
    <link rel="stylesheet" href="/static/masterslider/skins/default/style.css">
 
    <!-- Latest version of jQuery from Google CDN -->
    <!-- You can remove it if jQuery is already included. -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
 
    <!-- MasterSlider main JS file -->
    <script src="/static/masterslider/masterslider.min.js"></script>

    <!-- BS.js -->
    <script src="/static/bootstrap-3.3.6/js/bootstrap.min.js"></script>
    <!-- MatchHeight.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"><script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(
                {container: 'body'});   
        });
    </script>

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//apis.google.com/js/platform.js?onload=start"></script>


</head>
<body>
    <!-- wrapper outermost responsive div for page body -->
    <div class="wrapper">

        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Chisel Outdoors</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="">
                  <ul class="nav navbar-nav navbar-right">

                    <!-- <li><a href="/parks">Parks</a></li> -->
                    
                    
                    <!-- <li><a href="https://youtu.be/nzOCa3hbiGc" target="_blank">Tutorial Video</a></li> -->
                    <li><a href="https://goo.gl/forms/SiU5PbsDBBG8rtGM2" target="_blank">Feedback</a></li>
                    <!-- <li><a href="/addTrail">+Trail</a></li> -->
                    <!-- only show 'map' link on other pages -->
                    {% if page != 'map' %}
                    <li><a href="/map">Map</a></li>
                    {% else %}
                    <!-- Search Bar -->
                    <!-- <li id="search-bar">
                        <input type="text" id="url" placeholder="Content URL">
                        <input class="btn btn-success" type="submit" id="search_submit" value="Go There!"></input>
                    </li> -->
                    <!-- only show 'reset' and 'filter' on map page -->
                    <li><a href="#" data-bind="click: resetMap">Reset</a></li>

                    <!-- Filter by State -->
                    <!-- 
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">State<span class="caret"></span></a>
                        <ul class="dropdown-menu scrollable-menu" data-bind="foreach: states" role="menu">
                            <li><a href="#" data-bind="click: $parent.filterState, text:$data"></a></li>
                        </ul>
                    </li> -->
                    <!-- Filter by Park type (Area) -->
                    <!-- 
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Areas<span class="caret"></span></a>
                        <ul class="dropdown-menu" data-bind="foreach: park_types">
                            <li><a href="#" data-bind="click: $parent.filterType, text:$data"></a></li>
                        </ul>
                    </li> -->
                    
                    {% endif %}

                  </ul>
                </div><!-- /.navbar-collapse -->
                
              </div><!-- /.container-fluid -->
            </nav>
        </header>

        {% block content %}
        {% endblock %}

    </div>
</body>
</html>