<!DOCTYPE html>
<html>
<head>
    <title>Chisel Outdoors, the ultimate outdoor recreation site.</title>
    <!-- Description -->
    <meta name="description" content="Find trails to hike, bike, camp, with 360 images, trail data, videos, and more.">
    <!-- Tab Img -->
    <link rel="shortcut icon" type="image/png" href="/static/imgs/cairn_grey.png"/>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <!-- BS CSS -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.6/css/bootstrap.css">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Responsive -->
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <!-- JQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!-- BS.js -->
    <script src="/static/bootstrap-3.3.6/js/bootstrap.min.js"></script>
    

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//apis.google.com/js/platform.js?onload=start"></script>

</head>
<body>
    <!-- wrapper outermost responsive div for page body -->
    <div class="wrapper">

        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Chisel Outdoors</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="">
                  <ul class="nav navbar-nav navbar-right">

                    <!-- <li><a href="/parks">Parks</a></li> -->
                    

                    <li><a href="/addTreck">+Treck</a></li>
                    <!-- only show 'map' link on other pages -->
                    {% if page != 'map' %}
                    <li><a href="/map">Map</a></li>
                    {% else %}
                    <!-- only show 'reset' and 'filter' on map page -->
                    <li><a href="#" data-bind="click: resetMap">Reset</a></li>

                    <!-- Filter by State -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">State<span class="caret"></span></a>
                        <ul class="dropdown-menu scrollable-menu" data-bind="foreach: states" role="menu">
                            <li><a href="#" data-bind="click: $parent.filterState, text:$data"></a></li>
                        </ul>
                    </li>
                    <!-- Filter by Park type (Area) -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Areas<span class="caret"></span></a>
                        <ul class="dropdown-menu" data-bind="foreach: park_types">
                            <li><a href="#" data-bind="click: $parent.filterType, text:$data"></a></li>
                        </ul>
                    </li>
                    
                    {% endif %}

                    
                    
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </header>

        {% block content %}
        {% endblock %}

    </div>
</body>
</html>