{% extends "header.html" %}

{% block content %}
    

    <div class="section">

      <div class="canvas"></div>

      <div id="welcome">
        <H1>Chisel Outdoors</H1>
        <h2>See It, Go There</h2>
      </div>
        
      <video playsinline autoplay muted loop poster="/static/imgs/Chisel.jpg" id="bgvid">
        <source src="/static/video/spark_video.mp4" type="video/mp4">
      </video>

    </div>
    

    

  <!-- Welcome container 

  <div class="welcome">
    <div class="container" id="">
      <div class="row">
        <div class="col-md-10 col-md-offset-1" id="welcome_text" style="background-color: rgba(51, 51, 51, 0.35); border-radius: 15px; padding: 10px;">
            <p>Welcome to our preview launch. Sign up for updates and to give us feedback at our forum.</p>
          <p>Explore trails with geotagged 360 photos and learn what you need to be prepared for your next trip.</p>
        </div>
      </div>
      <a href="http://www.chiseloutdoors.com/beta/search/" class="btn btn-default" role="button" style="font-size:30px;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Find Trails</a>
    </div>
  </div>

  End Welcome container -->
<link rel="stylesheet" type="text/css" href="/static/css/home.css">

{% endblock %}