{% extends "header.html" %}

{% block content %}
    
    <div class="canvas" id="chisel">

      <div id="welcome">
        <!-- <h2>See It, Go There</h2> -->
        <!-- <a href="/map" role="button" class="btn btn-primary btn-large">Explore the Map</a> -->
        <!-- <p>Already know where you want to go? Find it below.</p> -->
        <h1>The Great Outdoors, <br> Not the Great Unkown.</h1>
      </div>

      <!-- <video playsinline autoplay muted loop poster="/static/imgs/Chisel.jpg" id="bgvid">
        <source src="/static/video/spark_video.mp4" type="video/mp4">
      </video> -->
   
    </div>

    <!-- <div class="section">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/nzOCa3hbiGc" frameborder="0" allowfullscreen></iframe>
    </div> -->
  

  <!-- Park/Trail List -->
  {% for park in parks %}
    <div class="section">

      <a href="/parks/{{park.key().id()}}"><img src="{{park.photo}}"></a>
      <h2 class="park_name">{{park.name}}</h2>
   
    </div>
  {% endfor %}
    
<link rel="stylesheet" type="text/css" href="/static/css/home.css">


{% endblock %}

