{% extends "header.html" %}

{% block content %}

  <div class="mini-section" id="search-bar">
    <input type="text" id="url" placeholder="Content URL">
    <input class="btn btn-success" type="submit" id="search_submit" value="Go There!"></input>

    <input type="text" id="park_id" placeholder="Park ID">
    <input class="btn btn-success" type="submit" id="submit_park_id" value="Find park!"></input>
  </div>

  <!-- Selection Header -->
  <div class='mini-section' data-bind='with: destination'>
    <h1 data-bind='text: name'>Destination</h1>
  </div>

  <!-- Map Section -->
  <div class="section">

      <!-- Menu -->
      <div class="menu" data-bind="with: currentPlace">
        <!-- Close icon -->
        <div class="icon-close">
          <img id="close-btn" data-bind="click: $parent.closeMenu" src="/static/imgs/google_icons/ic_cancel_white_36dp/web/ic_cancel_white_36dp_1x.png" alt="close-icon">
          </div>
          <!-- Current Marker Info -->
            
          <h2 data-bind="text: name"></h2>
          <ul id="current_place">
              <li>Rating: <span data-bind="text: rating"></span></li>
              <li>Addres: <span data-bind="text: address"></span></li>
              <li>Phone: <span data-bind="text: phone"></span></li>
          </ul>  
      </div>

      <!-- Map -->
      <div class="section" id="map_container">
        <!-- When nearly all parks covered, allow user to search park by name -->
        <!-- <input id="pac-input" class="controls" type="text" placeholder="Search Box"> -->
        <div class="canvas" id="map"></div>
      </div>
  </div>

  <!-- Info Btns -->
  <div class="icon_bar collapse " id="prep-icons">
      <ul class="btns" data-bind="foreach: prep_icons">
          <li class="info-btn"><img data-bind="attr: {src: img, title: title, alt: alt}, click: $parent.search"></li>
          <li>|</li>
      </ul>
  </div>

  <!-- Trail Info -->
  <div class="mini-section collapse" id="trail-info" data-bind="with: currentTrail">
    <div class="col-lg-4 col-md-4 col-xs-6" id="stats">
      <ul>
        <li>Distance: <span data-bind="text: total_distance"></span>(mi)</li>
        <li>Start Elevation: <span data-bind="text: start_elevation"></span>(ft)</li>
        <li>End Elevation: <span data-bind="text: end_elevation"></span>(ft)</li>
        <li>Elevation Change: <span data-bind="text: total_elevation_change"></span>(ft)</li>
      </ul>
    </div>

    <div class="col-lg-2 col-md-2 col-xs-6" id="activities">
      <ul data-bind="foreach: activities">
          <li><span data-bind"text: $data"></span></li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-6" id="cell">
      <ul>
          <li>AT&T: Weak</li>
          <li>Verizon: Strong</li>
          <li>T-Mobile: None</li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-6" id="cell">
      <ul>
          <li>Popularity: Low</li>
          <li>Best Season: Fall</li>
          <li>Requires Permit?: Yes</li>
          <li></li>
      </ul>
    </div>
  </div>

  <!-- Elevation -->
  <div class="mini-section collapse" id="elevation">
    <!-- <div class="canvas " id="elevation">
    </div> -->
  </div>

  <!-- Forecast -->
  <div class="mini-section collapse" id="forecast">
    <ul class="canvas" id="forecast-week" data-bind="foreach: forecast">
      <li class="day">
        <img id="weather-img" src="" alt="weather forecast" data-bind="attr: {src: img}">
        <p data-bind="text: avg"></p>
        <p data-bind="text: range"></p>
        <p data-bind="text: desc"></p>
      </li>
    </ul>
  </div>

  <!-- Park/Trail List -->
  <!-- <div class="section collapse" id="list">
      <ul class="park" data-bind="foreach: filteredList">
        <li>
          <a href="#"><h2 data-bind="text: name, click: $parent.selectTrail(self)"></h2></a>
          <hr>
        </li>
      </ul>
  </div> -->

  
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/map.css">
  <!-- Knockout -->
    <script src="/static/js/knockout/knockout-3.4.0.js"></script>
  <!-- Map JS -->
  <script src="/static/js/map.js"></script>

  <!-- Google Maps -->
  <script onload="initMap()" onerror="mapError()" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9OHhxzexIo2nYScmEqSM4Rsqp9mRSflI&libraries=places,visualization" 
    async defer ></script>

  <!-- Auto search content if entered on homepage -->
  <!-- {% if video_id != None %}
    <script>VM.youtubeSearch('{{ video_id }}');</script>
  {% endif %} -->

{% endblock %}