{% extends "header.html" %}

{% block content %}

  <div class="mini-section" id="search-bar">
    <input type="text" id="url" placeholder="YouTube Video URL">
    <input class="btn btn-success" type="submit" id="search_submit" value="Go There!"></input>
  </div>

  <!-- Map Section -->
  <div class="section">

      <!-- Menu -->
      <div class="menu" data-bind="with: currentPlace">
        <!-- Close icon -->
        <div class="icon-close">
          <img id="close-btn" data-bind="click: $parent.closeMenu" src="/static/imgs/google_icons/ic_cancel_white_36dp/web/ic_cancel_white_36dp_1x.png" alt="close-icon">
          </div>
          <!-- Current Marker Info -->
            
          <h2 data-bind="text: name"></h2>
          <ul id="current_place">
              <li>Rating: <span data-bind="text: rating"></span></li>
              <li>Addres: <span data-bind="text: address"></span></li>
              <li>Phone: <span data-bind="text: phone"></span></li>
          </ul>  
      </div>

      <!-- Map -->
      <div class="section">
        <div class="canvas" id="map"></div>
      </div>
  </div>

  <!-- Info Btns -->
  <div class="icon_bar collapse " id="prep-icons">
      <ul class="btns" data-bind="foreach:prep_icons">
          <li class="info-btn"><img data-bind="attr: {src: img, title: title, alt: alt}, click: $parent.search"></li>
          <li>|</li>
      </ul>
  </div>

  <!-- Forecast -->
  <div class="mini-section collapse" id="forecast">
    <ul class="canvas" id="forecast-week" data-bind="foreach: forecast">
      <li class="day">
        <img id="weather-img" src="" alt="weather forecast" data-bind="attr: {src: img}">
        <p data-bind="text: avg"></p>
        <p data-bind="text: range"></p>
        <p data-bind="text: desc"></p>
      </li>
    </ul>
  </div>

  <!-- Park List -->
  <div class="list">
      <ul class="park" data-bind="foreach: filteredList">
        <li>
          <a href="#"><h2 data-bind="text: name, click: $parent.switchPlace"></h2></a>
          <hr>
        </li>
      </ul>
  </div>

  
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/map.css">
  <!-- JQuery -->
  <script src="/static/js/jquery/jquery.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.6/css/bootstrap.min.css">
  <script src="/static/bootstrap-3.3.6/js/bootstrap.min.js"></script>
  <!-- Knockout -->
  <script src="/static/js/knockout/knockout-3.4.0.js"></script>
  <!-- Map JS -->
  <script src="/static/js/map.js"></script>

  <!-- Google Maps -->
  <script onload="initMap()" onerror="mapError()" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9OHhxzexIo2nYScmEqSM4Rsqp9mRSflI&libraries=places,visualization" 
    async defer ></script>

  {% if video_id != None %}
    <script>VM.youtubeSearch('{{ video_id }}');</script>
  {% endif %}

{% endblock %}