{% extends "header.html" %}

{% block content %}

    <h1>{{trail.name}} in <a href="{{ url_for('park', park_id=park.key().id())}}">{{ park.name }}</a></h1>
    <!-- <p>{{ trail.description }}</p> -->
    
    <!-- notify user of any changes -->
    <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %} -->
    
    <a href="{{ url_for('deleteTrail', park_id=park.key().id(), trail_id=trail.key().id()) }}">Delete</a>
    <a href="{{ url_for('editTrail', park_id=park.key().id(), trail_id=trail.key().id()) }}">Edit</a>

    

{% endblock %}