#close-btn {
    padding-left: 10px;
    padding-top: 10px;
}

.canvas {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#forecast-week {
  margin-right: auto;
  margin-left: auto;
}
.day {
  display: inline-block;
  width: 10%;
  text-align: center;
}

/* Pop In Menu */
.menu {
    background-color: #333;
    opacity: .85;
    left: -285px;  /* start off behind the scenes */
    height: inherit;
    position: absolute;
    width: 285px;
    z-index: 1;
    color: white;
    display: inline-block;
}
.menu h1 {
    text-align: center;
}
.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

/* Icon Bar */
.slider_bar {
    width: 100%;
    font-size: 1.25em;
    margin-bottom: 20px;
}
.slider_bar ul {
    text-align: center;
    font-family: Raleway, 400;
}
.slider_bar ul li {
    padding: 0.5em 1em;
    display: inline-block;
    text-align: center;
}
.slider_bar img {
    max-height: 20px;
    max-width: 20px;
}

/* Trail Info */
#quickInfo{
    margin-left: 60px;
}

